<!-- Start Page Content Goes Here -->
<!-- This section will be hidden on proceeding through the application -->
<!-- Perot logo -->
<div class="logo row justify-content-center text-center">
    <img src="https://via.placeholder.com/1087x229" style="height:60%;width:60%;margin-top:60px;object-fit:contain;">
</div>
  
<!-- Header -->
<div class="row justify-content-center text-center">
    <span class="text-center h1" style="margin-top:10px;color:rgb(122, 13, 13);-webkit-text-stroke: 2px rgb(100, 3, 3);font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">SCAVENGER HUNT</span>
</div>  


<div class="row justify-content-center text-center" style="margin:auto;position:fixed;width:100%;">
    <div class="justify-content-center text-center" id="accordion" style="width:75%;">
        <div class="card bg-dark">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
            <button class="btn btn-danger btn-lg btn-block" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                Instructions
            </button>
            </h5>
        </div>
    
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <p style="font-family:Georgia, 'Times New Roman', Times, serif; color:white;">
                  Welcome to your personal guide to the Perot Museum of Nature and Science!
                  Log in and start the scavenger hunt to begin exploring the exhibits.
                  Of course, there are rewards for completing the hunt.
                  Good luck, and have fun!
                </p>
            </div>
        </div>
        </div>
        <div class="card bg-dark">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
            <button class="btn btn-danger collapsed btn-lg btn-block" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                New User?
            </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <input type="text" placeholder="Enter Your Name" [(ngModel)]='name' style="margin-bottom:10px;width:100%;color:white;">
                <a routerLink="/progress" routerLinkActive="active">
                    <button type="button" class="btn btn-danger" (click)="getNewUser()">
                    <span class="h3" style="font-weight:bold;"> START! </span>
                    </button>
                </a>
            </div>
        </div>
        </div>
        <div class="card bg-dark">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
            <button class="btn btn-danger collapsed btn-lg btn-block" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                Returning User?
            </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                <input type="text" placeholder="Enter Your Username" [(ngModel)]='username' style="margin-bottom:10px;width:100%;color:white;">
                
                    <button type="button" class="btn btn-danger" (click)="getReturningUser()">
                    <span class="h3" style="font-weight:bold;"> START! </span>
                    </button>
                
            </div>
        </div>
        </div>
    </div>
</div>


